TICKERS=MIL:FPE,AAPL # Separate tickers with a comma. For tickers other than NASDAQ and NYSE traded stocks look for their syntax on https://www.gurufocus.com/ (Example MI:FPE is provided). Default is all tickers in NYSE and NASDAQ are processed 
MAX_CONCURRENCY=10 # Keep max 30. Default is 20
OUTPUT_FILE=Screener.csv # Path to output file. Default is Screener.csv